<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development</title>
    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 1500px);
            grid-auto-rows: 700px;
        }

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <select id="audioSource" name="audioSource"></select>
    <select id="videoSource" name="videoSource"></select>
    <select id="changeQuality" name="changeQuality"></select>
    <div id="video-grid"></div>
    <button id="show-btn">Play Video</button>
    <button id="stop-btn">Stop Video</button>
</body>
<script src="/script-test.js" defer></script>
</html>